################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-Loader/v17
/.vs/-Loader/FileContentIndex/13900dc8-ffa2-42fe-9a38-17dddb283e23.vsidx
/.vs/-Loader/FileContentIndex/7433ba41-a03d-4743-a580-c931e43fd231.vsidx
/.vs/-Loader/FileContentIndex/read.lock
/.vs/-Loader/FileContentIndex/f7abec83-c527-4494-953b-4d057ddf03a6.vsidx
/.vs/-Loader/FileContentIndex/001cc786-3ce3-4120-be6d-9fb776509d88.vsidx
/.vs/ProjectSettings.json
/.vs/-Loader/FileContentIndex/22a82af0-23fd-4f51-b720-d3214f20f234.vsidx
/.vs/VSWorkspaceState.json
